body {
    background-color: #c8c3cc;
    margin-left: 10px;
    margin-right: 10px;
}

h1 {
    text-align: center;
}

.parent {
    display: grid;
    place-items: center;
    background-color: #8ca3a3;
    color: #563f46;
    border: solid #563f46;
    height: 75vh;
    text-shadow: 1px 1px black;
}

#rulletDiv {
    background-color: #563f46;
    color: white;
    padding: 3vh;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 4vh; 
    cursor: pointer; 
    border: none;
    text-shadow: 1px 1px black;
}

#rulletDiv:hover {
    background-color: #c8c3cc;
    color: #563f46;
    text-shadow: 1px 1px black;
}

#suggestionDiv {
    color: #563f46;
    padding: 3vh;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 6vh; 
    text-shadow: 1px 1px black;
}

#addField {
    border-top: solid #563f46;
    text-align-last: center;
}

#foodSuggestions {
    background-color: #484f4f;
    color: white;
    font-size: 2vh; 
    text-shadow: 1px 1px black;
}

#registerButton {
    background-color: #484f4f;
    color: white;
    font-size: 2vh; 
    cursor: pointer; 
    text-shadow: 1px 1px black;
}

/* MOBILE VIEW  */
@media only screen and (max-width: 600px) {
    body {
        padding: 0 1rem;
    }

    h1, h2 {
        font-size: 25px;
        padding: 0rem 2rem;
    }

    #rulletDiv {
        font-size: 16px;         
    }
  }